$primary-font: 'Nunito Sans',
sans-serif;

$font-primary-color: #fff;
$font-secondary-color: #f35a4e;
$font-tertiary-color: #000;

$background-primary-color: #fff;
$background-secondary-color: #efefef;
$background-tertiary-color: #f35a4e;
$background-quaternary-color: #2d3952;

$background-gradient-primary: linear-gradient(to right, #f35a4e, #f6834a);